.book-list {
    padding: 20px;
    text-align: center;
}

.booklist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.booklist-header h1 {
    font-size: 2rem;
    color: #333;
}

.home-button {
    padding: 10px 15px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.book-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.book-card {
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 10px;
    width: 200px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    text-align: left; /* Align text to the left for better readability */
}

.book-card:hover {
    transform: scale(1.05); 
}

.book-image {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
}

.details-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #0056b3; 
}

.book-card button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-card button:hover {
    background-color: #218838; /* Darker green on hover */
}
